body {
  font-family: Inter, Arial;
  background: #fafafa;
  margin: 0;
  padding: 16px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background: #fff;
  padding: 14px;
  border-radius: 12px;
  text-decoration: none;
  color: black;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.product-box {
  background: white;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.price {
  font-weight: bold;
  font-size: 18px;
}

.review-form {
  background: white;
  padding: 16px;
  border-radius: 12px;
  margin-top: 20px;
}

input, textarea, select {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 8px;
  border: none;
}
